<!DOCTYPE html>

<html>

<head>
	<title>Control Panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<!-- style="font-family:'RTWS YueRoundedGothic Demo'">-->
	<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
	<script type="text/javascript" src="js/control.js"></script>

	<h1 style="margin-top: 30px; padding-left: 10%;">Control Panel</h1>

	<div style="width: 550px; height: 550px; margin: auto; padding-top: 10px;">

		<ul class="nav nav-tabs">
			<li class="active"><a href="#Duel" data-toggle="tab">Duel</a></li>
			<!--<li><a href="#SingleVote" data-toggle="tab">Single Vote</a></li>-->
			<li><a href="#GroupVote" data-toggle="tab">Group Vote</a></li>
			<li> <a href="#NewGroupMatch" data-toggle="tab"> New Group </a></li>
			<li><a href="#PollAudience" data-toggle="tab">Poll Audience</a></li>
		</ul>

		<div class="tab-content" style="height: 100%; padding-top: 10px;">
			<div class="tab-pane fade in active" id="Duel">

				<div style="width: 100%; height: 100%; margin: auto; padding-top: 20px;">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#td-idle" data-toggle="tab">Idle</a></li>
						<li><a href="#td-voting" data-toggle="tab">Voting</a></li>
						<li><a href="#td-voted" data-toggle="tab">Voted</a></li>
						<li><a href="#td-result" data-toggle="tab">Result</a></li>
						<!--<li><a href="#td-setTimer" data-toggle="tab">Timer</a></li>
						<li><a href="#td-round" data-toggle="tab">Round Result</a></li>-->
					</ul>

					<div class="tab-content" style="height: 100%; padding-top: 10px;">

						<div class="tab-pane fade active in" id="td-idle">
							<span>Switch to state:</span>
							<button name="idleState" type="button" value="IDLE" onclick="switchToState( this.value, 'Duel' );">Idle State</button><br />
							<div class="panel panel-default" style="margin-top: 20px;">
								<div class="panel-body">
									<form class="form-horizontal" id="SetRoundIDForm" action="javascript: void(0);" role="form" style="width: 100%"
									 onsubmit="tdSetRoundID()">
										<div class="form-group">
											<label for="RoundID" class="col-sm-3 control-label">Round ID</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="RoundIDInput" placeholder="Round ID">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-9">
												<div class="checkbox">
													<label>
														<input type="checkbox" id="TDConcludeInput">Conclude last round
													</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-9">
												<button id="BtnSubmitSetRound" type="submit" class="btn btn-default">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="td-voting">
							<span>Switch to state:</span>
							<button name="votingState" type="button" value="VOTING" onclick="switchToState( this.value, 'Duel' );">Voting
								State</button>
							<div class="panel panel-default" style="margin-top: 20px;">
								<div class="panel-body">
									<form class="form-horizontal" id="TDAddVoteForm" action="javascript: void(0);" role="form" style="width: 100%"
									 onsubmit="tdAddVote()">
										<div class="form-group">
											<label for="CIDInput" class="col-sm-3 control-label">Candidate ID</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="CIDInput" placeholder="Candidate ID">
											</div>
										</div>
										<div class="form-group">
											<label for="VoteInput" class="col-sm-3 control-label">Vote</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="VoteInput" placeholder="Vote">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-9">
												<div class="checkbox">
													<label>
														<input type="checkbox" id="TDResetVoteInput">Reset
													</label>
												</div>
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-9">
												<button type="submit" class="btn btn-default">Submit</button>
											</div>
										</div>
									</form>
									<form class="form-horizontal" id="TDAddScoreForm" action="javascript: void(0);" role="form" style="width: 100%"
									 onsubmit="tdSetScore()">
										<div class="form-group">
											<label for="CIDInput" class="col-sm-3 control-label">Candidate ID</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="CIDInput" placeholder="Candidate ID">
											</div>
										</div>
										<div class="form-group">
											<label for="ScoreInput" class="col-sm-3 control-label">Score</label>
											<div class="col-sm-9">
												<input type="text" class="form-control" id="ScoreInput" placeholder="Score">
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-3 col-sm-9">
												<button type="submit" class="btn btn-default">Submit</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="td-voted">
							<span>Switch to state:</span>
							<button name="votedState" type="button" value="VOTED" onclick="switchToState( this.value, 'Duel' );">Voted State</button>
						</div>

						<div class="tab-pane fade" id="td-result">
							<span>Switch to state:</span>
							<button name="resultState" type="button" value="RESULT" onclick="switchToState( this.value, 'Duel' );">Result
								State</button>
						</div>
						<div class="tab-pane fade" id="td-round">
							<span>Switch to state:</span>
							<button name="roundState" type="button" value="ROUND" onclick="switchToState( this.value, 'Duel' );">Round
								Result State</button>
						</div>
						<div class="tab-pane fade" id="td-setTimer">
							<form class="form-horizontal" id="TDSetTimerForm" action="javascript: void(0);" role="form" style="width: 100%"
							 onsubmit="tdSetTimer()">
								<div class="form-group">
									<label for="TimerInput" class="col-sm-2 control-label">Timer</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="SetTimerInput" placeholder="Timer">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-8">
										<button type="submit" class="btn btn-default">Submit</button>
									</div>
								</div>
							</form>
						</div>

					</div>

				</div>

			</div>

			<!--<div class="tab-pane fade" id="SingleVote">

				<div style="width: 100%; height: 300px; margin: auto; padding-top: 20px;">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#sv-idle" data-toggle="tab">Idle</a></li>
						<li><a href="#sv-voting" data-toggle="tab">Voting</a></li>
						<li><a href="#sv-result" data-toggle="tab">Result</a></li>
						<li><a href="#sv-rank" data-toggle="tab">Rank</a></li>
					</ul>

					<div class="tab-content" style="height: 100%; padding-top: 10px;">
						<div class="tab-pane fade in active" id="sv-idle">
							<span>Switch to state:</span>
							<button name="idleState" type="button" value="IDLE" onclick="switchToState( this.value );">Idle State</button><br />
							<div class="panel panel-default" style="margin-top: 20px;">
								<div class="panel-body">
									<form name="setCidForm" onsubmit="setCandidateID();">
										<table>
											<tr>
												<td>Candidate ID: </td>
												<td><input type="text" name="cidbox"></td>
											</tr>
											<tr>
												<td>Concluded: </td>
												<td><input type="checkbox" name="concludedbox"></td>
											</tr>
											<tr>
											</tr>
										</table>
									</form>
									<br />
									<button id="cmdSetCid" name="setCid" type="button" value="setCID" onclick="setCandidateID();">Set CID</button>
								</div>
							</div>

						</div>


						<div class="tab-pane fade" id="sv-voting">
							<span>Switch to state:</span>
							<button name="votingState" type="button" value="VOTING" onclick="switchToState( this.value );">Voting State</button>
						</div>


						<div class="tab-pane fade" id="sv-result">
							<span>Switch to state:</span>
							<button name="resultState" type="button" value="RESULT" onclick="switchToState( this.value );">Result State</button>
							<div class="panel panel-default" style="margin-top: 20px;">
								<div class="panel-body">
									<form name="addScoreForm" onsubmit="addScore();">
										<table>
											<tr>
												<td>Candidate:</td>
												<td><input type="text" name="candidatebox"></td>
											</tr>
											<tr>
												<td>Add Score:</td>
												<td><input type="text" name="scorebox"></td>
											</tr>
											<tr>
												<td>Reset</td>
												<td><input type="checkbox" name="resetbox"></td>
											</tr>
										</table>
									</form>
									<br />
									<button id="cmdAddScore"  name="addScore" type="button" value="addScore" onclick="addScore();">Add Score</button>
								</div>
							</div>
						</div>


						<div class="tab-pane fade" id="sv-rank">
							<span>Switch to state:</span>
							<button name="rankState" type="button" value="RANK" onclick="switchToState( this.value );">Rank State</button>
						</div>
					</div>

				</div>

			</div>-->

			<div class="tab-pane fade" id="GroupVote">
				<div style="width: 100%; height: 300px; margin: auto; padding-top: 20px;">

					<ul class="nav nav-tabs">
						<li class="active"><a href="#gv-idle" data-toggle="tab">Idle</a></li>
						<li><a href="#gv-single" data-toggle="tab">Single</a></li>
						<li><a href="#gv-voting" data-toggle="tab">Voting</a></li>
						<li><a href="#gv-voted" data-toggle="tab">Voted</a></li>
						<li><a href="#gv-result" data-toggle="tab">Result</a></li>
					</ul>

					<div class="tab-content" style="height: 100%; padding-top: 10px;">
						<div class="tab-pane fade in active" id="gv-idle">
							<span>Switch to state:</span>
							<button name="idleState" type="button" value="IDLE" onclick="switchToState( this.value, 'Group' );">Idle State</button><br />
							<div class="panel panel-default" style="margin-top: 20px;">
								<div class="panel-body">
									<form name="setCidForm" onsubmit="setCandidateID();">
										<table>
											<tr>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="1">C_id: 1</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="2">C_id: 2</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="3">C_id: 3</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="4">C_id: 4</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="5">C_id: 5</label>
												<br>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="6">C_id: 6</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="7">C_id: 7</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="8">C_id: 8</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="9">C_id: 9</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="10">C_id: 10</label>
												<br>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="11">C_id: 11</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="12">C_id: 12</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="13">C_id: 13</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="14">C_id: 14</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="15">C_id: 15</label>
												<br>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="16">C_id: 16</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="17">C_id: 17</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="18">C_id: 18</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="19">C_id: 19</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="20">C_id: 20</label>
												<br>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="21">C_id: 21</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="22">C_id: 22</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="23">C_id: 23</label>
												<label class="checkbox-inline"><input type="checkbox" class="checkbox-candidate" name="24">C_id: 24</label>
												<br>
											</tr>
											<tr>
												<button id="selectAll" type="button" onclick="$('.checkbox-candidate').prop('checked', true);"> Select All
													Candidates</button>
											</tr>
											<tr>
												<td>Vote per user: </td>
												<td><input type="number" name="voteperuser"></td>
											</tr>
											<tr>
											</tr>
										</table>
									</form>
									<br />
									<button id="cmdSetCid" name="setCid" type="button" value="setCID" onclick="setCandidateID();">Set CID</button>
								</div>
							</div>

						</div>

						<div class="tab-pane fade" id="gv-single">
							<span>Switch to state:</span>
							<button name="singleState" type="button" value="SINGLE" onclick="switchToState( this.value, 'Group' );">Single
								State</button>
						</div>


						<div class="tab-pane fade" id="gv-voting">
							<span>Switch to state:</span>
							<button name="votingState" type="button" value="VOTING" onclick="switchToState( this.value, 'Group' );">Voting
								State</button>
							<div class="panel panel-default" style="margin-top: 20px;">
								<div class="panel-body">
									<form name="addScoreForm" onsubmit="addScore();">
										<table>
											<tr>
												<td>Candidate:</td>
												<td><input type="text" name="candidatebox"></td>
											</tr>
											<tr>
												<td>Add Score:</td>
												<td><input type="text" name="scorebox"></td>
											</tr>
											<tr>
												<td>Reset</td>
												<td><input type="checkbox" name="resetbox"></td>
											</tr>
										</table>
									</form>
									<br />
									<button id="cmdAddScore" name="addScore" type="button" value="addScore" onclick="addScore();">Add Score</button>
								</div>
							</div>
						</div>

						<div class="tab-pane fade" id="gv-voted">
							<span>Switch to state:</span>
							<button name="votedState" type="button" value="VOTED" onclick="switchToState( this.value, 'Group' );">Voted
								State</button>
						</div>

						<div class="tab-pane fade" id="gv-result">
							<span>Switch to state:</span>
							<button name="resultState" type="button" value="RESULT" onclick="switchToState( this.value, 'Group' );">Result
								State</button>
						</div>
					</div>

				</div>
			</div>

			<!-- Added -->
			<div class="tab-pane fade" id="NewGroupMatch">
				<div class="panel panel-default">
					<div class="panel-body">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#ngv-init" data-toggle="tab">Initialize</a></li>
							<li><a href="#ngv-voting" data-toggle="tab">Voting</a></li>
							<li><a href="#ngv-result" data-toggle="tab">Result</a></li>
						</ul>
						<div class="tab-content" style="height: 100%; padding-top: 10px;">
							<div class="tab-pane fade in active" id="ngv-init">
								<button name="initialize" type="button" onclick="initNewGroupMatch();" value="INITIALIZE">Initialize</button>
							</div>
							<div class="tab-pane fade in" id="ngv-voting">
								<div class="col-md-12" style="margin: 5px;">

									<span>Switch to Group</span>
									<button name="groupOne" type="button" onclick="changeGroup('1');" value="1">Group 1</button>
									<button name="groupTwo" type="button" onclick="changeGroup('2');" value="2">Group 2</button>
									<button name="groupThree" type="button" onclick="changeGroup('3');" value="3">Group 3</button>
									<button name="groupFour" type="button" onclick="changeGroup('4');" value="4">Group 4</button>

								</div>

								<div class="col-md-12" style="margin: 5px;">

									<span>Switch to Candidate</span>
									<button name="candOne" type="button" onclick="changeCandidate(0);" value="1">#1</button>
									<button name="candSecond" type="button" onclick="changeCandidate(1);" value="2">#2</button>
									<button name="candThree" type="button" onclick="changeCandidate(2);" value="3">#3</button>
									<button name="candFour" type="button" onclick="changeCandidate(3);" value="4">#4</button>
									<button name="candFive" type="button" onclick="changeCandidate(4);" value="5">#5</button>
									<button name="candSix" type="button" onclick="changeCandidate(5);" value="6">#6</button>

								</div>
								<div class="row" style="margin: 5px;">
									<div class="col-md-5">
										<button class="btn-success" name="startVote" type="button" onclick="switchToState('VOTING', 'NewGroup');"
										 value="STARTVOTE">Start Voting</button>
									</div>
									<div class="col-md-7">
										<button class="btn-danger" name="endVote" type="button" onclick="switchToState('VOTED', 'NewGroup');" value="ENDVOTE">End
											Voting</button>
									</div>

								</div>
								<div class="container">
									<div class="row" style="margin: 5px;">
										<form name="addScoreFormNG" onsubmit="addScoreNG();">
											<table>
												<tr>
													<td>Candidate:</td>
													<td><input type="text" name="candidatebox"></td>
												</tr>
												<tr>
													<td>Add Score:</td>
													<td><input type="text" name="scorebox"></td>
												</tr>
												<tr>
													<td>Reset</td>
													<td><input type="checkbox" name="resetbox"></td>
												</tr>
											</table>
										</form>
										<br />
										<button id="cmdAddScore" name="addScore" type="button" value="addScore" onclick="addScoreNG();">Add Score</button>
									</div>
								</div>
								<br />


							</div>
							<div class="tab-pane fade in" id="ngv-result">
								<button name="result" type="button" onclick="switchToState('RESULT', 'NewGroup');" value="RESULT">Result</button>
							</div>
						</div>

					</div>




				</div>


			</div>

			<!-- Added -->


			<div class="tab-pane fade" id="PollAudience">
				<div class="panel panel-default">
					<div class="panel-body">

						<div style="width: 100%; margin: auto;">
							<form role="form-horizontal" id="PollAudienceWinnerForm" action="javascript: void(0);" onsubmit="pollAudienceWinner();">
								<div class="form-group">
									<label for="NotifyWinnerDelayInput" class="col-sm-4 control-label">Notification Delay</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="NotifyWinnerDelayInput" placeholder="Delay Seconds">
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										<div class="checkbox">
											<label>
												<input type="checkbox" id="NotifyWinnerInput">Notify Winner
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-4 col-sm-8">
										<button type="submit" class="btn btn-primary">Poll</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="panel panel-default" style="width: 1000px; margin: auto;">
		<div class="panel-heading">Result</div>
		<div id="resultBar" class="panel-body"></div>
	</div>
</body>


</html>