<!DOCTYPE html>
<html>

<head>
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="js/jquery-1.10.2.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
    function register() {
      var number = document.forms["registerForm"]["phone_number"].value;
      socket.emit('registerNumber', {number}, function (data) {
        if (data.success) {
          $('#phone_number').val('');
          $('#message').text('Success! Your phone number is registered.');
          $('#message').css({ color: "green" });
        } else {
          $('#message').text(data.error);
          $('#message').css({ color: "red" });
        }
      });
      
    }
  </script>
</head>

<body>
  <div id="wrapper" style="width: 100%; text-align: center;">
    <form id="registerForm" action="javascript:void(0)" onsubmit="register();" style="margin-top: 30vh; display: flex; flex-direction: column;">
      <h1 style="font-size: 60px;">Register Phone Number:</h1>
      <input type="text" id="phone_number" placeholder="Phone Number" style="height: 30px; width: 400px; font-size: 35px; padding: 5px; margin: 0 auto;" autocomplete="off" />
      <div id="message" style="margin: 0 auto; padding: 5px; font-size: 20px;"></div>
      <button type="submit" style="height: 50px; width: 100px; margin: 20px auto; font-size: 20px;">Submit</button>
    </form>
  </div>
</body>

</html>
